{% extends 'layout.html' %}
{% block title %}Forecast{% endblock %}
{% block content %}
<h1>Generate Sales Forecast</h1>
<form action="{{ url_for('report') }}" method="post" name="forecast">
    {{ form.hidden_tag() }}
    <p>
    Date:<br>
    {{ form.date1 }} Format: YYYY-MM-DD <br>
    </p>
    <!--<p>
    End Date:<br>
    {{ form.date2 }} Format: YYYY-MM-DD<br>
    </p>-->
    <p>
    Store:<br>
    {{ form.store_nbr }}<br>
    </p>
    On Promotion?:<br>
    {{ form.onpromotion }}<br>
    </p>
    <p>
    <strong>For Existing Products:</strong><br>
    Item ID:<br>
    {{ form.item_nbr }}<br>
    </p>
    <p>
    <strong>For New Products:</strong><br>
    Class ID:<br>
    {{ form.class_id }}<br>
    </p>
    <p>
    
    
    <p><input type="submit" value="Generate"></p>
        </form>

{% endblock %}